@{
    ViewData["Title"] = "Informações";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/info.css">
</head>

<body>
    <section class="min-vh-100 d-flex align-items-center text-center info">
        <div class="container">
            <div class="row">
                <div class="col-12 section-padding text-white">
                    <h1 style="color: #f2a900">@ViewData["Title"]</h1>

                    <p>Informações estarão escritas aqui futuramente.</p>
                </div>
            </div>
        </div>
    </section>
</body>